@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    border: none;
    font-family: "Montserrat", serif;
}
.container{
    background: url('./Images/bg.jpg') no-repeat center #030728;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    text-align: center;
    min-height: 100vh;
}
.slider{
    display: flex;
    overflow-x: auto;
    gap: 20px;
    padding: 35px;
    scroll-behavior: smooth;
    width: 96%;
    cursor: grab;
}
.slider::-webkit-scrollbar{
    display: none;
}
.item{
    flex: 0 0 auto;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 35px;
    backdrop-filter: blur(30);
    border-radius: 8px;
    width: 300px;
    min-width: 350px;
}
.item img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 1px solid #fff;
    padding: 2px;
    margin-bottom: 20px;
}
.item h2{
    font-size: 24px;
    margin: 10px 0px;
    font-weight: 500;
}
.item p{
    font-size: 16px;
    color: #e3e3e3;
    margin: 5px 0px;
    font-weight: 500;
}
.item button{
    padding: 10px 25px;
    border-radius: 5px;
    color: #030728;
    border: 1px solid transparent;
    font-size: 14px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.4s ease;
}
.item button:hover{
    color: #fff;
    border: 1px solid #fff;
    background: transparent;
}
.btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    padding: 10px 20px;
    cursor: pointer;
    color: #fff;
    transition: color 0.3s;
}
.btn:hover{
    color: #283291;
}
.prev{
    left: 10px;
}
.next{
    right: 10px;
}
.pagination{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 2px;
}
.dot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    transition: background-color 0.3s;
}
.dot.active{
    background-color: #fff;
}
@media screen and (max-width : 768px) {
    .slider{
        margin: 0 10px 20px;
        padding: 10px;
    }
    .item{
        min-width: 300px;
    }
    .btn{
        display: none;
    }
}